/* Style the login form */
#login-form {
    max-width: 300px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(red, green, blue, alpha);
}

/* Style the input feilds */
input[type="text"],
input[type="text"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

/* Style the summit button */
button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style the error message */
#error-message {
    color: #red;
    font-size: 12px;
    margin-top: 10px;
}

/* Style the footer */
footer {
    background-color: rgb(0, 145, 255);
    padding: 10px;
    text-align: center;
    margin-top: 10%;
}

/* Style the registration */
.registration-heading {
    text-align: center;
    margin-bottom: 10px;
    color: #666;
    font-weight: bold;
}

body {
    background-image: url(cow.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
}

header {
    position: relative;
    padding: 20px;
    object-position: center;
    margin-top: 10%;
    border-radius: 70%;
}

header img {
    width: 10%;
    height: 20%;
    object-position: center;
    margin-left: 45%;
}